{% extends "material/base.html" %}
{% import "material/utils.html" as util %}
{% import "material/wtf.html" as wtf %}

{% block styles %}
{{super()}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
{% endblock %}
{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    var gamesAutocomplete = JSON.parse('{{games_autocomplete | tojson }}')
    var allTags = JSON.parse('{{all_tags | tojson }}')
  </script>
  <script>

  var selectedGame = null;

  function updateCollection(data){
    updateRelated(data);
    var tagEl = document.getElementById('tags');
    tagEl.innerHTML = "";
    data['tags'].forEach(function(tag){
        var tagHTML = tag.replace(/\s/g, '');
        tagEl.innerHTML += '<a class="waves-effect waves-light btn-small" style="margin-bottom: 5px; margin-right: 5px;" id="'+tag+'tag" onclick="removeTag(\''+tag+'\')">'+tag+'</a>'
    });
  }

  function updateRelated(data){
    var el = document.getElementById('recGames');
    el.classList.remove('hide');
    var tbody = el.children[1];
    tbody.innerHTML = "";
    data['related'].forEach(function(game){
      tbody.innerHTML += '<tr><td>'+game[0]+'</td><td>'+game[1]+'</td><td></td>'
    });
  }

  function getRecommendations(game){
    selectedGame = game
    console.log(game);
    console.log(selectedGame);
    $.ajax({
      url: '/recommendation',
      type: 'POST',
      contentType: 'application/json; charset=utf-8',
      data: JSON.stringify({'game':game}),
      })
      .done(function(result){
          updateCollection(result);
      })
  }

  function removeTag(tag){
    console.log(tag);
    var el = document.getElementById(tag+'tag');
    el.classList.add('disabled');

    $.ajax({
      url: '/modify-embedding',
      type: 'POST',
      contentType: 'application/json; charset=utf-8',
      data: JSON.stringify({'game':selectedGame, 'tag': tag, 'modification': 'subtraction'}),
      })
      .done(function(result){
          updateRelated(result);
      })

  }

  const ac = document.querySelector('.autocomplete');
  var instance = M.Autocomplete.init(ac, {
    minLength: 3,
    data: gamesAutocomplete,
    onAutocomplete: getRecommendations
  })

  </script>
{{super()}}
{% endblock %}

{% block content %}

  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo center">Steam Game Recommender</a>
    </div>
  </nav>


  {{ container() }}
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">textsms</i>
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">Enter a Game</label>
        </div>
      </div>
    </div>
  </div>
  {{ enddiv() }}
  <div class="container">
    <table class="highlight hide" id="recGames">
      <thead>
        <tr>
          <th>Game</th>
          <th>Similarity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <h4>Modify Recommendations</h4>
    <h5>Tags</h5>
    <div class="row">
      <div id="tags">
      </div>
      <table class="highlight" id="tagTable">
        <tbody>
        {% for i in range(0, all_tags|length, 5) %}
        <tr>
          <td>
            <label>
              <input type="checkbox" class="filled-in" id="{{all_tags[i]}}CheckboxTag"/>
              <span>{{ all_tags[i] }}</span>
            </label>
          </td>
          <td>
            <label>
              <input type="checkbox" class="filled-in" id="{{all_tags[i+1]}}CheckboxTag"/>
              <span>{{ all_tags[i+1] }}</span>
            </label>
          </td>
          <td>
            <label>
              <input type="checkbox" class="filled-in" id="{{all_tags[i+2]}}CheckboxTag"/>
              <span>{{ all_tags[i+2] }}</span>
            </label>
          </td>
          {% if all_tags[i+3] %}
            <td>
              <label>
                <input type="checkbox" class="filled-in" id="{{all_tags[i+3]}}CheckboxTag"/>
                <span>{{ all_tags[i+3] }}</span>
              </label>
            </td>
          {% endif %}
          {% if all_tags[i+4] %}
            <td>
              <label>
                <input type="checkbox" class="filled-in" id="{{all_tags[i+4]}}CheckboxTag"/>
                <span>{{ all_tags[i+4] }}</span>
              </label>
            </td>
          {% endif %}
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>





{% endblock %}