{% extends "material/base.html" %}
{% import "material/utils.html" as util %}
{% import "material/wtf.html" as wtf %}

{% block styles %}
{{super()}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    var gamesAutocomplete = JSON.parse('{{games_autocomplete | tojson }}')
  </script>
  <script>

  function updateCollection(data){
    var el = document.getElementById('recGames');
    el.classList.remove('hide');
    var container = $('#recGames');
    container.empty();
    data.forEach(function(game){
      container.append(
      '<li class="collection-item"><div>'+game+'<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>'
      )
    });
  }

  function selectedGame(game){
    console.log(game);
    $.ajax({
      url: '/recommendation',
      type: 'POST',
      contentType: 'application/json; charset=utf-8',
      data: JSON.stringify({'game':game}),
      })
      .done(function(result){
          console.log(result);
          updateCollection(result);
      })
  }
  console.log(gamesAutocomplete);
  const ac = document.querySelector('.autocomplete');
  var instance = M.Autocomplete.init(ac, {
    minLength: 3,
    data: gamesAutocomplete,
    onAutocomplete: selectedGame
  })

  </script>
{{super()}}
{% endblock %}

{% block content %}

  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo center">Steam Game Recommender</a>
    </div>
  </nav>


  {{ container() }}
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">textsms</i>
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">Enter a Game</label>
        </div>
      </div>
    </div>
  </div>
  {{ enddiv() }}

  <div class="container">
<!--    <div class="row">-->
<!--      <div class="col s12 m6">-->
        <ul class="collection with-header hide" id="recGames">
<!--        <li class="collection-header"><h4>First Names</h4></li>-->
<!--        <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>-->
<!--        <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>-->
<!--        <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>-->

<!--        {% for game in games2 %}-->
<!--          <li class="collection-item"><div>{{game}}<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>-->
<!--        {% endfor %}-->
      </ul>
<!--      </div>-->
<!--    </div>-->
  </div>


{% endblock %}