[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-mock = "*"

[packages]
flask = "*"
flask-cors = "*"
sklearn = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
