[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-mock = "*"

[packages]
flask = "*"
flask-cors = "*"
sklearn = "*"
gunicorn = "*"
marshmallow = "*"
python-dotenv = "*"
pyaml = "*"
flasgger = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
